<ul>
    {% for movie in movies %}
    <li>{{ movie.polishTitle }} ({{ movie.yearOfProduction }})
        <ul>
            <li>Original title: {{ movie.originalTitle }}</li>
            <li>Rating: {{ movie.rating }}</li>
            <li>Favourite: {{ movie.isFavourite ? 'Yes':'No' }}</li>
            <li>Rated at: {{ movie.ratedAt|date("d.m.Y") }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>
